
@media (max-width:1125px) {


    body {
        background: url(../images/bg-mobile.svg) no-repeat center center;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .header .logo {
        margin: 0;
    }

    .container {
        flex-direction: column;
        gap: 80px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .social {
        margin: 10px 0 20px 0;
    }

    .container .text {
        align-items: center;
        text-align: center;
    }

    .container .text h1,
    .container .text h2,
    .container .text .button-register {
        align-self: auto;
    }

    
    .container .text .button-register {
        width: 250px;
    }
}

@media (max-width:768px) {

    .header {
        padding: 20px;
    }

    .header .logo {
        width: 150px;
    }

    img {
        max-width: 500px;
    }

    .container {
        gap: 30px;
    }
}

@media (max-width:525px) {
    img {
        width: 280px;
    }

    .container .text h1,
    .container .text h2 {
        font-size: 25px;
        line-height: 20px;
    }
}