* {
    box-sizing: border-box;
}

body {
    background: url(../images/bg-desktop.svg) no-repeat ;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header .logo {
    max-width: 200px;
    margin-left: 5.5%;
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px;
}

.container .imagem-principal {
    max-width: 600px;
    margin-left: 4%;
}

.container .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
}

.container .text h1,
.container .text h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
}

.container .text p {
    font-size: 18px;
    line-height: 25px;
    max-width: 600px;
}

.container .text .button-register {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 2px  hsl(0, 0%, 20%);

    transition: 0.5s;
    align-self: flex-start;
}

.container .text .button-register:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer .social {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    margin-left: 85%;
}

.footer .social a {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footer .social a:hover {
    border: 1px solid hsl(300, 69%, 71%);
}

.footer .social a {
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}

.footer .social a:hover {
    color: hsl(300, 69%, 71%);
    ;
}